.BasemapOverview {
  position: absolute;
  top: -5px;
  right: 404px;
  width: 237px;
  height: 244px;
  z-index: 1;
  background-color: white;
  overflow: auto;
}

#BasemapDiv {
  position: absolute;
  z-index: 2;
  top: 10px;
}
.CsutomWHSync {
  width: 0px;
  height: 0px;
}
// #EXtSatalitte {
//   z-index: 2;
//   position: absolute;
//   font-size: 12px;
//   border: none;
//   bottom: -31px;
//   left: 105px;
//   font-weight: bold;
//   width: 94px;
// }
// #EXtTopo {
//   z-index: 2;
//   position: absolute;
//   font-size: 12px;
//   border: none;
//   bottom: -31px;
//   left: 57px;
//   font-weight: bold;
//   width: 94px;
// }
// #EXtSreet {
//   z-index: 2;
//   position: absolute;
//   font-size: 12px;
//   border: none;
//   bottom: -31px;
//   left: -4px;
//   font-weight: bold;
//   width: 94px;
// }

.BasemapOverview .esri-view .esri-view-surface {
  width: 300px;
  height: 200px;
  border: 1.5px solid white;
}

.BasemapPopup {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  top: 48px;
}

.BasemapArrow-up:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.BasemapArrow-up:before {
  border-bottom: 14px solid aquamarine;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  right: 610px;
  top: 34px;
  position: fixed;
}

.BasemapPopup {
  position: absolute;
}

.BasemapOption {
  color: red;
  font-weight: bold;
  text-align: center;
  position: fixed;
  cursor: pointer;
  top: 13px;
  right: 600px;
}
.BasemapHide {
  visibility: hidden;
}
.EXtSatalitteDiv {
  width: 68px;
  background-color: aquamarine;
  z-index: 2;
  position: absolute;
  left: 165px;
  height: 101px;
}
.EXtSatalitteDiv img {
  height: 96px;
  width: 64px;
  top: 3px;
  position: relative;
  z-index: 0;
}
.EXtSatalitteDiv label {
  height: 21px;
  width: 36px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  top: -72px;
  left: -3px;
  color: black;
  font-weight: bold;
}

.EXtTopoDiv {
  width: 68px;
  background-color: aquamarine;
  z-index: 2;
  position: absolute;
  left: 89px;
  height: 101px;
}

.EXtTopoDiv img {
  height: 96px;
  width: 64px;
  top: 3px;
  position: relative;
  z-index: 0;
}
.EXtTopoDiv label {
  height: 21px;
  width: 46px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  top: -72px;
  left: -5px;
  color: black;
  font-weight: bold;
}

.EXtSreetDiv {
  width: 68px;
  background-color: aquamarine;
  z-index: 2;
  position: absolute;
  left: 9px;
  height: 101px;
}

.EXtSreetDiv img {
  height: 96px;
  width: 64px;
  top: 3px;
  position: relative;
  z-index: 0;
}
.EXtSreetDiv label {
  height: 21px;
  width: 36px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  top: -72px;
  left: -3px;
  color: black;
  font-weight: bold;
}
