.BasemapOverview {
  position: absolute;
  top: -5px;
  right: 404px;
  width: 237px;
  height: 244px;
  z-index: 1;
  background-color: white;
  overflow: auto;
}

#BasemapDiv {
  position: absolute;
  z-index: 2;
  top: 10px;
}
.CsutomWHSync {
  width: 0px;
  height: 0px;
}
// #EXtSatalitte {
//   z-index: 2;
//   position: absolute;
//   font-size: 12px;
//   border: none;
//   bottom: -31px;
//   left: 105px;
//   font-weight: bold;
//   width: 94px;
// }
// #EXtTopo {
//   z-index: 2;
//   position: absolute;
//   font-size: 12px;
//   border: none;
//   bottom: -31px;
//   left: 57px;
//   font-weight: bold;
//   width: 94px;
// }
// #EXtSreet {
//   z-index: 2;
//   position: absolute;
//   font-size: 12px;
//   border: none;
//   bottom: -31px;
//   left: -4px;
//   font-weight: bold;
//   width: 94px;
// }

.BasemapOverview .esri-view .esri-view-surface {
  width: 300px;
  height: 200px;
  border: 1.5px solid white;
}

.BasemapPopup {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  top: 48px;
}

.BasemapArrow-up:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.BasemapArrow-up:before {
  border-bottom: 14px solid #3a54d8;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  right: 610px;
  top: 34px;
  position: fixed;
}

.BasemapPopup {
  position: absolute;
}

.BasemapOption {
  color: red;
  font-weight: bold;
  text-align: center;
  position: fixed;
  cursor: pointer;
  top: 13px;
  right: 600px;
}
.BasemapHide {
  visibility: hidden;
}
.EXtSatalitteDiv {
  width: 68px;
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 165px;
  height: 101px;
}
.EXtSatalitteDivImg {
  height: 83px;
  width: 64px;
  top: 3px;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  border: 0.5px solid #ddd;
  padding: 5px;
  // filter: blur(1px);
}
.EXtSatalitteDivImg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.EXtSatalitteDiv label {
  height: 35px;
  width: 52px;
  font-size: 10px;
  position: relative;
  z-index: 1;
  top: -4px;
  left: 0px;
  color: black;
  font-weight: unset;
}

.EXtTopoDiv {
  width: 68px;
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 89px;
  height: 101px;
}

.EXtTopoDivImg {
  height: 83px;
  width: 64px;
  top: 3px;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  border: 0.5px solid #ddd;
  padding: 5px;
}
.EXtTopoDivImg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.EXtTopoDiv label {
  height: 35px;
  width: 52px;
  font-size: 10px;
  position: relative;
  z-index: 1;
  top: -6px;
  left: 0px;
  color: black;
  font-weight: unset;
}

.EXtSreetDiv {
  width: 68px;
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 9px;
  height: 101px;
}

.EXtSreetDivImg {
  height: 83px;
  width: 64px;
  top: 3px;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  border: 0.5px solid #ddd;
  padding: 5px;
}

.EXtSreetDivImg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.EXtSreetDiv label {
  height: 35px;
  width: 52px;
  font-size: 10px;
  position: relative;
  z-index: 1;
  top: -6px;
  left: 0px;
  color: black;
  font-weight: unset;
}
// <span className="BaseCheckmark">
// <div className="BaseCheckmark_circle"></div>
// <div className="BaseCheckmark_stem"></div>
// <div className="BaseCheckmark_kick"></div>
// </span>

// .BaseCheckmark {
//   display: inline-block;
//   width: 22px;
//   height: 22px;
//   -ms-transform: rotate(45deg); /* IE 9 */
//   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
//   transform: rotate(45deg);
//   position: fixed;
// }

// .BaseCheckmark_circle {
//   position: fixed;
//   width: 22px;
//   height: 22px;
//   background-color: green;
//   border-radius: 11px;
//   left: -65px;
//   top: -8px;
// }

// .BaseCheckmark_stem {
//   position: fixed;
//   width: 3px;
//   height: 10px;
//   background-color: #fff;
//   left: -54px;
//   top: -3px;
// }

// .BaseCheckmark_kick {
//   position: fixed;
//   width: 3px;
//   height: 8px;
//   background-color: #fff;
//   left: -57px;
//   top: 1px;
//   transform: rotate(-70deg);
// }

.imActive {
  filter: drop-shadow(2px 4px 6px black);
  border-top-color: red;
  border-bottom-color: red;
}
