.KMZLayers {
  position: absolute;
  top: 173px;
  right: 30px;
}

#success-alert {
  width: 320px;
  height: 52px;
  position: absolute;
  top: 6px;
  right: 20px;
}
#MessageAlertClicked {
  display: none;
}
