.TocShow {
  position: absolute;
  border: 1px solid red;
  width: 556px;
  height: 400px;
  overflow: auto;
}

.attributeShow {
  position: absolute;
  border: 1px solid red;
  width: 556px;
  height: 400px;
  overflow: auto;
  bottom: 20px;
  left: 50px;
}
.lblCount {
  border: 1px solid red;
  color: blue;
}

/* .ulToggle {
  list-style-type: "+";
  display: "none";
} */
/* .ulToggle > li {
  list-style-type: "+";
  display: "none";
} */
/* .lll {
  list-style-type: "-";
  background-color: aqua;
}
.lll li {
  list-style-type: "-";
  background-color: aqua;
}
.lll ul li {
  list-style: none;
}

.lll li:before {
  padding-right: 5px;
} */
.TocOption {
  top: 84px;
  left: 57px;
  position: absolute;
}
.attributeOption {
  top: 83px;
  left: 107px;
  position: absolute;
}
.TocHide {
  display: none;
}
.attributeHide {
  display: none;
}
