#app-title {
  padding: 10px;
  font-size: 22px;
}
#app-search {
  padding: 10px;
}

#app-search select {
  width: 300px;
  margin-bottom: 10px;
  height: 35px;
  text-align: center;
  font-size: 15px;
}
