#app-title {
  padding: 10px;
  font-size: 22px;
}
#app-search {
  padding: 10px;
}

#app-search select {
  width: 300px;
  margin-bottom: 10px;
  height: 35px;
  text-align: center;
  font-size: 15px;
}
.input-group-prepend {
  width: 10px;
}

.hiddenEl {
  display: none;
  // visibility: hidden;
}

/* .ui-dialog-titlebar {
        background-color: red;
      } */

.ui-widget-header {
  background-color: rgba(0, 34, 255, 0.04);
}

#attributTabe {
  overflow: auto;
  width: 5px;
  height: 5px;
  display: none;
  // right: -150px;
}

#toggleAttribute {
  position: absolute;
  right: 3%;
  top: 5%;
}
#masking {
  width: 2px;
}

.ui-widget-header,
.ui-state-default,
ui-button {
  background: #b9cd6d;
  border: 1px solid #b9cd6d;
  color: #0ab9e9;
  font-weight: bold;
}
