#Zooming {
  font-size: 10px;
  position: fixed;
  bottom: -10px;
  left: 390px;
}

#cordinate {
  font-size: 10px;
  position: fixed;
  bottom: -10px;
  left: 485px;
}
.hideFromMap {
  position: fixed;
}
