/*#region Navigation*/

/* Fix for some calcite styles */
.esri-widget {
  h3 {
    font-size: 1rem;
  }
  li {
    margin: 0;
  }
}
#Navigationtools {
  text-align: center;
  border-radius: 80%;
  color: currentColor;
}
.tool {
  padding-top: 3px;
  padding: 4px 2px;
}
.Navigationtool.disabled,
.Navigationtool.disabled:hover {
  opacity: 0.6;
  pointer-events: none;
  border-radius: 80%;
  color: currentColor;
  background-color: white;
}

.Navigationtool:hover,
.Navigationtool.selected:hover {
  border-radius: 90%;
  color: currentColor;
  background-color: white;
}
.Navigationtool.selected {
  border-radius: 80%;
  color: currentColor;
  background-color: white;
}
.Navigationtool {
  height: 20px;
  width: 20px;
  margin: 0.3em;
  border-radius: 80%;
  color: currentColor;
}
