#mainWindow {
  padding: 0.5em;
  background-color: #fff;
  width: 277px;
  border-radius: 25px;
  border: 1px solid mediumvioletred;
}
#mainWindow p,
b,
#uploadForm {
  font-size: 15px;
  display: block;
  padding: 0.1em;
}

.customFileForSHP {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
