.overviewSynchronize {
  position: absolute;
  top: -5px;
  right: 158px;
  width: 300px;
  height: 200px;
  z-index: 1;
}

#SynchronizeDiv {
  position: absolute;
  z-index: 2;
  top: 10px;
}
.CsutomWHSync {
  width: 0px;
  height: 0px;
}
.overviewSynchronize .esri-view .esri-view-surface {
  width: 300px;
  height: 200px;
  border: 1.5px solid white;
}

#gooleStreet {
  z-index: 2;
  position: absolute;
  font-size: 12px;
  border: none;
  bottom: -9px;
  left: 205px;
  font-weight: bold;
  width: 94px;
}
#googleSatellite {
  z-index: 2;
  position: absolute;
  font-size: 12px;
  border: none;
  bottom: -9px;
  left: 105px;
  font-weight: bold;
  width: 94px;
}

.SyncPopup {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  top: 48px;
}

.SyncArrow-up:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.SyncArrow-up:before {
  border-bottom: 18px solid #3a54d8;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 18px;
  top: -5px;
}

.SyncPopup {
  position: absolute;
}

.SyncOption {
  color: red;
  font-weight: bold;
  text-align: center;
  position: fixed;
  cursor: pointer;
  top: 13px;
  right: 412px;
}
.SyncHide {
  visibility: hidden;
}
