$blue: #0079c1;
$gray: #efefef;
$white: #fff;

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  position: relative;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga" 1, "calt" 0;
}

/* header */
header.top-nav {
  z-index: 1;
  background-color: $blue;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid $gray;
}

@media (max-width: 600px) {
  .toolbar-title {
    display: none;
  }
}

.top-nav-title {
  float: left;
  margin-right: 1.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.top-nav-title,
.top-nav-link {
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* map view */
.main,
.webmap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#region Navigation*/

.main {
  flex-direction: column;
}

.esri-view-root {
  width: 100%;
  height: 100%;
}

/* Fix for some calcite styles */
.esri-widget {
  h3 {
    font-size: 1rem;
  }
  li {
    margin: 0;
  }
}
#Navigationtools {
  text-align: center;
}
.tool {
  padding-top: 3px;
  padding: 4px 2px;
}
.Navigationtool.disabled,
.Navigationtool.disabled:hover {
  opacity: 0.6;
  pointer-events: none;
}
.Navigationtool:hover,
.Navigationtool.selected:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.Navigationtool.selected {
  background-color: rgba(0, 0, 0, 0.3);
}
.Navigationtool {
  height: 20px;
  width: 20px;
  margin: 0.3em;
}

#PrintSpan {
  position: fixed;
  bottom: 5px;
  width: 420px;
  left: 20px;
  height: 10%;
  // background: #fff;
  z-index: 1;
}

// Add position: relative; to #over
// #over {
// width: 600px;
// z-index: 10;
// position: relative;
// }
//
// #under {
// position: fixed;
// top: 5px;
// width: 420px;
// left: 20px;
// border: 1px solid;
// height: 10%;
// background: #fff;
// z-index: 1;
// }
//
/*#endregion*/

/*#region Screenshot component*/

.ScreenShotButton {
  display: initial;
  width: 40%;
  text-align: center;
}
#screenshotDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.hide {
  display: none;
}

#snappImage {
  border: 10px solid white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#screenshotDiv > * {
  margin: 0.5em;
}

.screenshotCursor {
  cursor: crosshair;
}

// .action-button {
//   padding: 0.6em;
//   border: 1px solid #0079c1;
//   text-align: center;
//   background-color: white;
//   cursor: pointer;
// }

// .action-button:hover,
// .action-button:focus {
//   background: #0079c1;
//   color: white;
// }

#maskDiv {
  position: absolute;
  background: rgba(255, 51, 0, 0.1);
  border: 2px dashed rgb(255, 51, 0);
}
/*#endregion */
