$blue: #0079c1;
$gray: #efefef;
$white: #fff;

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  position: relative;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga" 1, "calt" 0;
}

/* header */
header.top-nav {
  z-index: 1;
  background-color: $blue;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid $gray;
}

@media (max-width: 600px) {
  .toolbar-title {
    display: none;
  }
}

.top-nav-title {
  float: left;
  margin-right: 1.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.top-nav-title,
.top-nav-link {
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* map view */
.main,
.webmap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex-direction: column;
}

.esri-view-root {
  width: 100%;
  height: 100%;
}

#PrintSpan {
  position: fixed;
  bottom: 5px;
  width: 420px;
  left: 20px;
  height: 10%;
  // background: #fff;
  z-index: 1;
}

// Add position: relative; to #over
// #over {
// width: 600px;
// z-index: 10;
// position: relative;
// }
//
// #under {
// position: fixed;
// top: 5px;
// width: 420px;
// left: 20px;
// border: 1px solid;
// height: 10%;
// background: #fff;
// z-index: 1;
// }
//
/*#endregion*/
// .esri-view .esri-view-root {
//   position: fixed;
// }

// .esri-attribution {
// visibility: hidden;
// height: -15px;
// width: -15px;
// }

// this code to loading spinner
#root {
  display: none;
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/tCWon2S.gif");
  background-repeat: no-repeat;
  background-position: center;
}

// background: repeating-linear-gradient(
// 45deg,
// rgba(0, 94, 255, 0.585),
// transparent 100px
// );

.esri-widget--button {
  border-radius: 92%;
  color: currentColor;
  background-color: transparent;
}
.esri-widget--button:hover {
  background-color: rgb(55, 94, 236);
}
.esri-widget {
  background-color: #ffffff;
}
.esri-ui-corner .esri-component {
  box-shadow: none;
}
.esri-icon-search:before {
  font-size: 23px;
}
.esri-zoom .esri-widget--button {
  font-size: 23px;
}
.esri-ui-corner .esri-component {
  font-size: 23px;
}

// .esri-widget *,
// .esri-widget *:before,
// .esri-widget *:after {
//   font-size: 20px;
// }

// .esri-ui-corner .esri-expand .esri-widget--panel,
// .esri-ui-corner .esri-expand .esri-widget--panel-height-only,
// .esri-ui-corner .esri-component > .esri-widget--panel,
// .esri-ui-corner .esri-component.esri-widget--panel {
//   background-color: rgba(33, 61, 108, 0.537);
// }
// .esri-coordinate-conversion__row {
//   background-color: rgba(33, 61, 108, 0.537);
// }
// .esri-popup--is-docked-top-center .esri-popup__main-container,
// .esri-popup--is-docked-bottom-center .esri-popup__main-container {
//   background-color: rgba(33, 61, 108, 0.537);
// }
