$icomoon-font-path: "~arcgis-js-api/themes/base/icons/fonts" !default;

// Widgets (sorted alphabetically)
$include_AreaMeasurement3D: true !default;
$include_Attribution: true !default;
$include_BasemapGallery: true !default;
$include_BasemapToggle: true !default;
$include_Bookmarks: true !default;
$include_BrowseItems: true !default;
$include_ColorPicker: true !default;
$include_Compass: true !default;
$include_CoordinateConversion: true !default;
$include_DatePicker: true !default;
$include_Directions: true !default;
$include_Expand: true !default;
$include_Feature: true !default;
$include_HorizontalSlider: true !default;
$include_LayerList: true !default;
$include_Legend: true !default;
$include_NavigationToggle: true !default;
$include_Print: true !default;
$include_DirectLineMeasurement3D: true !default;
$include_Popup: true !default;
$include_RasterSymbologyEditor: true !default;
$include_RendererSlider: true !default;
$include_ScaleBar: true !default;
$include_Search: true !default;
$include_Spinner: true !default;
$include_Tags: true !default;
$include_TimePicker: true !default;
$include_Zoom: true !default;

@import "~arcgis-js-api/themes/light/main.scss";
@import "index";
@import "./styles/App.scss";
@import "./styles/Screenshot.scss";
@import "./styles/navigationTools.scss";
@import "./styles/HierarchicalSearch.scss";
@import "./styles/widgets.scss";
@import "./styles/Bookmarks.scss";
@import "./styles/MapTarget.scss";
@import "./styles/FeaturesTable.scss";
@import "./styles/Overview_map.scss";
@import "./styles/SynchronizeView.scss";
@import "./styles/BasemapGallery.scss";
